$color-primary: #4c45ff;
$color-primary-soft: #edf0ff;
$color-text-primary: #6679dd;
$color-text-primary-soft: #8797f0;
$color-text-main: #161616;

$app-header-height: 64px;

$bp-tablet: 740px;
$bp-desktop: 1280px;
