$color-primary: #6679dd;
$color-primary-soft: #edf0ff;
$color-text-primary: #8797f0;
// $color-text-primary-soft: #8797f0;
$color-text-main: #0f172b;
$color-actions-text-main: #314158;
$button-border-radius: 8px;

$app-header-height: 64px;

$bp-tablet: 740px;
$bp-desktop: 1280px;
